<div class="main">
    <div class="login-card">

      <form [formGroup]="formGroup">
        <h3>Signup</h3>
        <mat-form-field appearance="outline" class="field-width">
          <mat-label>Name</mat-label>
           <input matInput type="text" placeholder="Name" formControlName="name"/>
           <mat-error *ngIf="name.invalid">user name required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field-width">
          <mat-label>Age</mat-label>
          <input matInput type="number" placeholder="Age" formControlName="age" />
          <mat-error *ngIf="name.invalid">user age required</mat-error>
        </mat-form-field>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button [value]="1">Male</mat-radio-button>
          <mat-radio-button [value]="2">Female</mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="outline" class="field-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email"/>
          <mat-error *ngIf="name.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password"/>
          <mat-error *ngIf="name.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onsignupClicked()">
          Signup
        </button>
      </form>
    </div>
  </div>

