<div class="background">
  <div class="flex">
  <div class="col">
    <div class="name"> {{startupName}}</div><br>

    <div class="details">
      {{'Founder Name:'+' '}}{{founderName}}<br>
  {{'city:'+' '}}{{city}}<br>
  {{'Email:'+' '}}{{emailAddress}}<br>
  {{'sector:'+' '}}{{sectors}}<br>
  {{'no. Of Employees:'+' '}}{{numberOfEmployees}}<br>
  {{'website:'+' '}}{{websiteUrl}}
</div>
  </div>
  <div class="col" >


      <img [src]="logoImage" width="350px" height="250px">



</div>
</div>

</div>
