.sidenav-container{
  height: 100vh;
}
mat-sidenav{
  width: 300px;
  background-color:var(--gray);
  padding: 1rem;
}

.child-items{
  margin-inline-start: 20px !important;
}




.flex{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.logout{
margin-inline-end: 20px;
color: var(--white);
}
.menu-button > button{
  margin: 7px;
}
main{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-sidenav-content {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/trial-d0a11.appspot.com/o/images%2Fabstract-modern-flame-background-colorful-dynamic-flames-unique-easy-editing-color-change-other-manipulation-included-91502901.jpg?alt=media&token=c764a150-6335-40a5-879c-0bd517437b42);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}
.mat-drawer-content{
  height: 100vh;
}
 @media screen and (max-width: 960px) {
  main{
    display: flex;
    flex-direction: column;
    justify-content:unset;
     height: 100vh;

  }
}
