<div class="main">
  <div class="login-card">
    <h3>Signup</h3>
    <mat-form-field appearance="outline" class="field-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-width">
      <mat-label>Age</mat-label>
      <input matInput type="number" placeholder="Age">
    </mat-form-field>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline" class="field-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email">
    </mat-form-field>
    <mat-form-field appearance="outline" class="field-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onsignupClicked()">Signup</button>

  </div>
</div>

