<app-header></app-header>
<div class="flex-col">
  <h2>Start Ups...</h2>
  <div class="row">

    <div class="col" *ngFor="let service of services">
      <mat-card
        class="col"
        (click)="onCardClicked()"
        matRipple
        [matRippleCentered]="centered"
      >
        <mat-card-header>
          <mat-card-title>{{ service.startupName}}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          [src]="service.logoImage"
          alt="Photo of a Shiba Inu"
          class="img"
        />
        <!-- <mat-card-content>
          <p>
            {{ service.sectors.startupName }}
          </p>
        </mat-card-content> -->
      </mat-card>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="routingToLogin()">
    Join
  </button>
</div>

