<div class="flex-col">
  <h2>Start Ups...</h2>
  <div class="row">
    <div class="col" *ngFor="let service of services">
      <mat-card class="col" (click)="onCardClicked(service.id)" matRipple>
        <mat-card-header>
          <mat-card-title>{{ service.startupName }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          [src]="service.logoImage"
          alt="Photo of a Shiba Inu"
          class="img"
        />

      </mat-card>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="routingToLogin()">
    Join
  </button>
</div>

 <!-- <share-buttons
  [theme]="'material-light'"
  [include]="['facebook', 'twitter', 'instagram']"
  [show]="9"
  [size]="1"
  [url]="''"
  [autoSetMeta]="false"
></share-buttons> -->
