<div class="col">
  <div class="page-header">
    <button
      mat-flat-button
      color="primary"
      style="height: 35px"
      (click)="back()"
      class="back-text"
    >
      Back
    </button>
  </div>
  <form [formGroup]="formGroup">
    <h2>Add Sector</h2>

    <mat-form-field appearance="outline">
      <mat-label>Sector Name</mat-label>
      <input matInput formControlName="sectors" placeholder="sector Name" />
    </mat-form-field>

    <input
      id="file"
      type="file"
      (change)="onFileInputChange($event)"
      accept="image/*"
    />
    <img [src]="imgSrc" alt="" *ngIf="formGroup.controls['sectorLogo'].value" />
    <label for="file" class="logo"> Logo </label>

    <mat-form-field appearance="outline">
      <mat-label>Design Color</mat-label>

      <input
        matInput
        [(colorPicker)]="color"
        id="color"
        (colorPickerChange)="onChangeColor($event)"
        [style.background]="color"
        formControlName="designColor"

      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Parent Category Name</mat-label>
      <input
        matInput
        formControlName="parentCategoryName"
        placeholder="parent category name"
      />
    </mat-form-field>
  </form>
  <div class="actions-section">
    <button mat-flat-button color="primary" (click)="onAddClicked()">
      <mat-icon>add</mat-icon>Add
    </button>
  </div>
</div>

