
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav>
    <mat-list>
      <div *ngFor="let item of navServiceList.children">
        <div *ngIf="item.children.length === 0; else hasChildren">
          <a [routerLink]="[item.route]" (click)="onItemClicked()">

          <mat-list-item>
            <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
            <div mat-line class="item-text">{{ item.displayName }}</div>

          </mat-list-item>
        </a>
        </div>

        <ng-template #hasChildren>
          <mat-list-item >
            <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
            <div mat-line class="item-text">{{ item.displayName }}</div>
          </mat-list-item>
          <mat-list>
            <div *ngFor="let childItem of item.children">
              <a [routerLink]="[childItem.route]" (click)="onItemClicked()">

              <mat-list-item class="child-items">
                <mat-icon mat-list-icon>{{ childItem.icon }}</mat-icon>
                <div mat-line>{{ childItem.displayName }}</div>
              </mat-list-item>
              </a>
            </div>
          </mat-list>
        </ng-template>
      </div>
    </mat-list>
    <button mat-button (click)="onLoggedoutClicked()" class="text-color"><mat-icon>logout</mat-icon>Logout</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z8 change-color" >
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon style="color: #f2dbe4;">menu</mat-icon>
      </button>
      <span>My App</span>
    </mat-toolbar>

    <main>
      <div class="mat-elevation-z8 content">
        <router-outlet></router-outlet>

      </div>

    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
