.sidenav-container{
  height: 100vh;
}
mat-sidenav{
  width: 300px;
  background-color:var(--gray);
  padding: 1rem;
}
.main{
  padding: 1rem;

}
.child-items{
  margin-inline-start: 20px !important;
}


.content{
  padding: 0.8rem;
  min-height: 100%;
}

.flex{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.logout{
margin-inline-end: 20px;
color: var(--blue);

}
