
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #snav >
    <div style="display: flex; justify-content: center" *ngIf="loading">
      <mat-spinner diameter="50" color="primary"></mat-spinner>
    </div>
    <mat-list *ngIf="!loading">
      <div *ngFor="let item of navServiceList.children">
        <div *ngIf="item.children.length === 0;">
          <a
            [routerLink]="[item.route]"
            (click)="onItemClicked()"
            *ngIf="
              userInfo &&
              (userInfo.roll === item.roll || item.roll.length === 0)
            "
            class="text"
          >
            <mat-list-item>
              <mat-icon mat-list-icon class="icon">{{ item.icon }}</mat-icon>
              <div mat-line class="text">{{ item.displayName }}</div>
            </mat-list-item>
          </a>
        </div>

      </div>
    </mat-list>
    <button mat-button (click)="onLoggedoutClicked()" class="logout">
      <mat-icon>logout</mat-icon>Logout
    </button>
  </mat-sidenav>
  <mat-sidenav-content class="mat-elevation-z8">
    <div class="menu-button">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon style="color: var(--dark-blue)">menu</mat-icon>
      </button>
    </div>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
