.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height:100vh ;
  padding:0px 6.7rem;

}


.action-col > button{
  margin-top: 10px;
  float: right;

}
tr{
  cursor: pointer;
}
h2{
display: flex;
justify-content: center;
font-size: 30px;
text-align: center;

}
table{
width: 100%;


}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
