<div class="page-header">
    <button  mat-flat-button  color="primary" style="height: 35px;" (click)="back()" class="back-text">Back</button>

    <h2>Startup Request</h2>

  </div>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Startup Name</mat-label>
      <input matInput formControlName="startupName" placeholder="startup Name">
    </mat-form-field>

    <div >
      <label class="logo" for="selectFile">Logo Image</label>
      <span>{{fileName}}</span>
      <input  id="selectFile" formControlName="logoImage" accept="image/*" type="file" (change)="selectImage($event)" hidden>

    </div>


    <mat-form-field appearance="outline">
      <mat-label>city</mat-label>
      <input matInput formControlName="city" placeholder="city">

    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select a sector</mat-label>
      <mat-select disableRipple  formControlName="sectors">
        <mat-option [value]="droplist.sectors" *ngFor="let droplist of dropList"  >{{droplist.sectors}}</mat-option>

      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>founder Name</mat-label>
      <input matInput formControlName="founderName" placeholder="founder Name">

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>number Of Employees</mat-label>
      <input matInput type="number" formControlName="numberOfEmployees" placeholder="number Of Employees">

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>year Of Establishment</mat-label>
      <input matInput type="number" formControlName="yearOfEstablishment" placeholder="year Of Establishment">

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>website Url</mat-label>
      <input matInput formControlName="websiteUrl" placeholder="website Url">

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>email Address</mat-label>
      <input matInput formControlName="emailAddress" placeholder="email Address">

    </mat-form-field>

  </form>
  <div class="actions-section">
    <button mat-flat-button color="primary" (click)="onSubmitClicked()">Submit</button>

  </div>
