<div class="main">
    <div class="login-card">
      <button class="button"  mat-flat-button  color="primary" style="height: 35px;" (click)="back()" >Back</button>


      <form [formGroup]="formGroup">
          <h2 >Signup</h2>


        <mat-form-field appearance="outline" class="field-width">
          <mat-label>Name</mat-label>
           <input matInput type="text" placeholder="Name" formControlName="name"/>
           <mat-error *ngIf="name.invalid">user name required</mat-error>
        </mat-form-field>



        <mat-form-field appearance="outline" class="field-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email"/>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password"/>
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onsignupClicked()">
          Signup
        </button>
      </form>
    </div>
  </div>

