.background{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex{
  display: flex;
flex-direction: column;
  gap: 20px;
max-width: 700px;
padding: 52px;
background-color: var(--white) ;
box-shadow: 2px 3px 4px 3px #8888;
}
.col-1{
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 100%;
}
.col{
   display: flex;
   flex-direction: column;
align-items: center;
  flex: 1;
   width: 100%;
}

.name{
  font-size: 40px;
  font-weight: 450;
  color: var(--dark-blue);



}
.details{
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 0;
  width: 100%;

}
.details > span{
  color: rgb(38, 84, 235);
  font-weight: 450px;
}

