<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"
/>
<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="login-card">
    <form [formGroup]="formGroup">
      <h2>LOGIN</h2>
      <mat-form-field appearance="outline" class="field-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
        />
        <mat-error *ngIf="email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
        <span class="material-symbols-outlined"> account_circle </span>

      </mat-form-field>
      <mat-form-field appearance="outline" class="field-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <mat-error *ngIf="password.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
        <span class="material-symbols-outlined"> lock </span>

      </mat-form-field>
      <a routerLink="/users/signup">create account</a>
      <button mat-raised-button color="primary" (click)="onloginClicked()">
        Login
      </button>
    </form>
    <div style="display: flex; justify-content: center" *ngIf="!loading">
      <mat-spinner diameter="50" color="primary"></mat-spinner>
    </div>
  </div>
</div>
