.col {
  background-color: var(--white);
width: 100%;
 padding: 10px;
  box-shadow: 0px 8px 9px 7px #8888;
  margin: auto;

}
form {
  width: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;

}

.logo {
  background-color: #3f51b5;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 4px;
}
mat-form-field {
  width: 100%;
  max-height: 60px;
}

#file {
  display: none;
}
img {
  width: 100px;
}
.color{
  width: 20px;
  cursor: pointer;

}
