.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
padding: 0px 0.7rem;
gap: 6px;
}

  .filter-col{
  flex: 3;
  flex-basis: 150px;
  }

  .action-col > button{
    margin-inline-start: 10px;

  }
  tr{
    cursor: pointer;
  }
h2{
  display: flex;
  justify-content: center;
  font-size: 33px;
    line-height: 42px;
    color: var(--blue);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px ;
}
table{
  width: 100%;

  }
  .container{
    position: relative;
    overflow: auto;
    border-style: solid;
    border-color: var(--blue);
    border-width: 2.5px;
    border-radius: 4px;
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 6px;
  text-align: center;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-style: solid;
  border-color: var(--blue);
  border-width: 2.5px;
}
th.mat-header-cell{
  color: #6592b8;

}
  @media screen and (max-width: 960px) {


     table {
        border: 0;
        vertical-align: middle;
      }

      table caption {
        font-size: 1em;
      }


     table .mat-header-cell {

        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      table tr{
        border-bottom: 5px solid #ddd;
        display: block;
        height: 100%;
      }
      table tr:first-of-type{

        margin-bottom: 5px;
      }
      table .mat-header-row{
        border-bottom: none;
      }


      table td{
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height:30px;
        margin-bottom: 4%;
      }
     table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: .85em;
      }
      table td:last-child {
        border-bottom: 0;
      }

       td.mat-cell:first-of-type{
        padding-left: 10px;
      }
      td.mat-cell:last-of-type{
        padding-right: 0;
      }
      td.mat-cell{
        padding: 0 10px;
      }

      .action-col > button{
        display: none;


        }
        .action-add > button{
          margin-top: 0;
          float: right;
          display: flex;
        }
        mat-paginator{
          margin-bottom: 15px;
        }

    }
