.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height:100vh ;
padding: 0px 6.7rem;}

  .filter-col{
  flex: 3;
  flex-basis: 150px;
  }

  .action-col > button{
    margin-inline-start: 10px;

  }
  tr{
    cursor: pointer;
  }
h2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}
table{
  width: 100%;

  }
  .container{
    position: relative;
    overflow: auto;
  }
