.background{
  background-image: url(https://st2.depositphotos.com/1000423/10227/i/450/depositphotos_102278354-stock-photo-abstract-technology-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex{
  display: flex;
  flex-wrap: wrap;
gap: 20px;
max-width: 700px;
}

.col{

   display: flex;
   flex-direction: column;
   flex: 1;
   margin: 10px;
}
.name{
  font-size: 40px;
  font-weight: 450;
  color: var(--white);


}
.details{
  color: var(--white);
  font-size: 20px;
  font-weight: 0;
  margin: 10px;

}
