
<div class="background">
  <div class="flex">
  <div class="col">
    <div class="name"> {{startupName}}</div><br>

    <div class="details">
      {{'Founder Name:'+' '}}{{founderName}}<br>
  {{'city:'+' '}}{{city}}<br>
  {{'Email:'+' '}}{{emailAddress}}<br>
  {{'sector:'+' '}}{{sectors}}<br>
  {{'no. Of Employees:'+' '}}{{numberOfEmployees}}
</div>
  </div>
  <div class="col" >
  <img
  mat-card-image
  [src]="logoImage"
  alt="Photo of a Shiba Inu"
  style="min-width: 200px; width: 100%;"
/>
</div>
</div>

</div>
