/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
}
:root{
    --white:#fff;
    --blue: #6b9ac2;
    --dark-blue: #0c012a;
--gray: #3d4551;


}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.full-width{
  width: 100%;
}
table{
  width: 100%;
}
.actions-section{
  text-align: end;
  margin-inline-start: 10px;
}
.back-text{
  cursor: pointer;
}
.back-text:hover{
  color:rgb(88, 88, 159)
}
.text{
    text-decoration: none;
    color: var(--white);
  }
  .icon{
    color: var(--blue);
  }
