<div class="page-header">
  <button  mat-flat-button  color="primary" style="height: 35px;" (click)="back()" class="back-text">Back</button>

  <h2>Create Product</h2>

</div>
<form [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input matInput formControlName="productName" placeholder="Product Name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>category</mat-label>
    <input matInput formControlName="category"  placeholder="category">

  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>description</mat-label>
    <textarea matInput formControlName="description" placeholder="description..."></textarea>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>quantity</mat-label>
    <input matInput type="number" formControlName="quantity" placeholder="quantity">

  </mat-form-field>


</form>
<div class="actions-section">
  <button mat-flat-button color="primary" (click)="onAddClicked()"><mat-icon>add</mat-icon>Add</button>

</div>
