.col {
  min-height: 100vh;
}
.width {
  min-width: 300px;
}

tr {
  cursor: pointer;
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
table {
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.action-col > button {
  margin-top: 10px;
  float: right;
}


.container{
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}
