.width{
    min-width: 300px;

  }
  .filter-col{
  flex: 3;
  flex-basis: 150px;
  color: #c2185b;
  }
  .filter-action{
    flex: 1;
    flex-basis: 150px;
    text-align: end;
  }
  .action-col > button{
    margin-inline-start: 10px;

  }
  tr{
    cursor: pointer;
  }

