.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  gap: 10px;
}

h2{
  color: var(--blue);
  font-size: 1.7rem;
  font-weight: 600;
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.title{
  color: var(--dark-blue);
  justify-content: center;
  align-items: center;
}


 .img{
   width: 140px;
   height: 140px;
   cursor: pointer;

 }
mat-card{
  margin:10px;

}
