<div class="main">
  <h2>All Start Ups...</h2>
  <div class="flex-row">
    <mat-card *ngFor="let sector of sectors">
      <mat-card-header class="title">
        <mat-card-title>{{ sector.sectors }}</mat-card-title>
      </mat-card-header>
      <div class="flex-row">
        <div *ngFor="let service of services">
          <div  class="col" *ngIf="sector.sectors == service.sectors">
            <img
              (click)="onCardClicked(service.id)"
              [src]="service.logoImage"
              alt="Photo of a Shiba Inu"
              class="img"
            />
          </div>
        </div>
      </div>
    </mat-card>
  </div>
